<script>
  import {
    Page,
    Navbar,
    Block,
    BlockTitle,
    Toolbar,
    Link
  } from "framework7-svelte";
</script>

<Page>
  <Navbar title="Not found" />

  <BlockTitle>404 Page not found</BlockTitle>
  <Block strong>
    <p>No page found.</p>
  </Block>
</Page>
