<script>
  import {
    Page,
    Navbar,
    Block,
    BlockTitle,
    Toolbar,
    Link
  } from "framework7-svelte";
</script>

<Page>
  <Navbar title="About Subpage" backLink="Back" />

  <BlockTitle>About Subpage</BlockTitle>
  <Block strong>
    <p>
      Fugiat perspiciatis excepturi, soluta quod non ullam deleniti. Nobis sint
      nemo consequuntur, fugiat. Eius perferendis animi autem incidunt vel quod
      tenetur nostrum, voluptate omnis quasi quidem illum consequuntur, a,
      quisquam.
    </p>
  </Block>
</Page>
