<script>
  import {
    Page,
    Navbar,
    NavLeft,
    NavTitle,
    NavTitleLarge,
    NavRight,
    Link,
    Tabs,
    Tab,
    Toolbar,
    Block,
    BlockTitle,
    List,
    ListItem,
    Row,
    Col,
    Button
  } from "framework7-svelte";
</script>

<Page>
  <Navbar title="Home" />

  <BlockTitle>Home</BlockTitle>
  <Block strong>
    <p>
      Fugiat perspiciatis excepturi, soluta quod non ullam deleniti. Nobis sint
      nemo consequuntur, fugiat. Eius perferendis animi autem incidunt vel quod
      tenetur nostrum, voluptate omnis quasi quidem illum consequuntur, a,
      quisquam.
    </p>
  </Block>
</Page>
