<script>
  import { onMount } from "svelte";

  import {
    f7,
    f7ready,
    App,
    View,
    Views,
    Navbar,
    Toolbar,
    Tabs,
    Tab,
    Link
  } from "framework7-svelte";

  import routes from "../js/routes";

  let activeTab = "/";
  // Framework7 Parameters
  let f7params = {
    name: "tabstest", // App name
    theme: "auto", // Automatic theme detection
    routes: routes,
    on: {
      routeChange: (newRoute, prevRoute, router) => {
        activeTab = newRoute.path;
      }
    }
  };

  onMount(() => {
    f7ready(() => {
      // Call F7 APIs here
    });
  });
</script>

<App params={f7params}>
  <!-- Your main view, should have "view-main" class -->
  <Views>
    <View main class="safe-areas" url="/" pushState="true">
      <Toolbar bottom tabbar>
        <Link tabLink href="/" tabLinkActive={activeTab === '/'}>Home</Link>
        <Link tabLink href="/about/" tabLinkActive={activeTab === '/about/'}>
          About
        </Link>
        <Link
          tabLink
          href="/settings/"
          tabLinkActive={activeTab === '/settings/'}>
          Settings
        </Link>
      </Toolbar>
    </View>
  </Views>
</App>
